<div class="container"> 
    <h1>Editing Friend</h1>

    <%= render 'form', friend: @friend %>
    <br/>
    <%= link_to 'Show', @friend, class:"btn btn-sm btn-round mb-0 me-1 bg-gradient-dark" %>
    <%= link_to 'Back', friends_path, class:"btn btn-sm btn-round mb-0 me-1 bg-gradient-dark" %>
</div>